@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: auto;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #313131;
  background-color: #e9ece5;
  min-width: 600px;
  max-width: 700px;
}

header {
  background-color: #3c948b;
}

header h1 {
  color: #FFF;
  margin: 20px auto;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
}

main div {
  margin-bottom: 20px;
}

main div h2 {
  font-weight: bolder;
  color: #3c948b;
  border-bottom: 1px solid #3c948b;
  margin-bottom: 15px;
}

main div p {
  margin-top: 0px;
}

main .input-container {
  text-align: center;
}

.input-container .input-box {
  height: 30px;
  width: 250px;
  font-size: 0.8em;
  padding-left: 10px;
  display: block;
  margin: auto;
}

.input-container button {
  background-color: #fffcf5;
  border: 2px solid gray;
  color: gray;
  font-size: 0.6em;
  font-weight: bold;
  cursor: pointer;
  padding: 0.7em;
  margin: 15px 0;
  text-transform: uppercase;
}

.input-container button:hover {
  background-color: #c0dfd9;
  color: #313131;
}

.result {
  text-align: center;
}


/*.problem-1 {
  background-color: yellow;
}

.problem-2 {
  background-color: green;
}

.problem-3 {
  background-color: pink;
}*/

footer {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}